.conteudo_card{
    padding: 25px;
    border-radius: 5px;
    height: 350px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo_card h2, .conteudo_card p{
    text-align: center;
    color: var(--texto-claro);
}

.conteudo_card img{
    width: 70%;
    max-width: 200px;
}

