.botao{
    background-color: transparent;
    border: 2px solid var(--fundo-vermelho);
    height: 40px;
    width: 100%;

    font-size: 25px;
    color: var(--texto-claro);
    border-radius: 10px;
}