/*SEÇÃO BANNER*/

.banner{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--home-background);
}

.banner img {
    position: absolute;
    top: 270px;
    right: 0px;
}

.conteudo_banner{
    display: flex;
    align-items: center;

    height: 50%;
}

.texto_banner{
    color: var(--texto-claro);
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*SEÇÃO CATÁLOGO*/

.catalogo {
    background-color: var(--background-solid);
    padding: 50px 0;
    height: 110vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.catalogo h2{
    color: var(--texto-claro);
}

/*SEÇÃO INFO JOGOS*/

.pre_footer{
    background: var(--home-background);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.conteudo p , .conteudo h2{
    color: var(--texto-claro);
}

.imagem_jogos{
    border: 1px solid var(--texto-claro);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}
