* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: linear-gradient(270deg, #221C2D 44.71%, #282047 100%);
    --home-background: radial-gradient(86.81% 50% at 50% 50%, #362968 0%, #2C224C 32.21%, #221B2F 100%);;
    --background-solid: #221B2F;

    --input-color: #D6D2E633;
    --texto-claro:#D6D2E6;
    --fundo-vermelho: #FF004C;
}

.container-grid{
    width: 80%;
}