.conteudo_lista{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pesquisa{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pesquisa input{
    width: 100%;
}

.pesquisa input, .pesquisa select{
    border: 1px solid var(--texto-claro);
    border-radius: 4px;
    background-color: var(--input-color);

    color: var(--texto-claro);
    padding: 10px;
}

.lista_jogos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.paginas {
    display: flex;
    gap: 15px;
}