.conteudo_lista{
    display: flex;
    /*gap: 10px;*/
    height: 90%;
    justify-content: space-around;
    flex-direction: column;
}

.pesquisa{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pesquisa input{
    width: 68%;
    box-sizing: border-box;
}

.pesquisa input, .pesquisa select{
    background-color: var(--input-color);

    color: var(--texto-claro);
    padding: 10px;
}

.lista_jogos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.paginas {
    display: flex;
    gap: 15px;
    justify-content: center;
}